<div class="index1">
<div class="new">
<h2 class="title2">新規ユーザー登録</h2>
<% @user.errors.full_messages.each do |message| %>
    <%= message %>
<% end %>
<%= form_with url: "/users/create" do |form| %>
<div class="item">
<p>ユーザー名(公開されます)</p>
<input name="name" value="<%= @user.name %>">
<p>メールアドレス</p>
k<input name="email" value="<%= @user.email %>">@kansai-u.ac.jp
<p>パスワード(LMSなどで使ってるパスワードでなくてもOK)</p>
<input name="password" type="password" value="<%= @user.password %>">
<br>
<input type="submit" value="新規登録">
<% end %>
</div>
</div>
</div>