<div class="about">
<div class="left-box">
<p class="title">はしをくんについて</p>
<br>
<p class="explanation">はしをくんは関西大学総合情報学部のゼミの情報を
<br>共有できる場所でありたいと考えています。
<br>コロナ禍でもゼミの情報を共有できる。
<br>そんなことを実現できるのがはしをくんです。</p>
<br>
<%= link_to("投稿一覧","/posts/index", class: "button") %>
<%= link_to("新規投稿","/posts/new", class: "button") %>
</div>

<div class="rigth-box">
<img src="assets/top.png" >
</div>
</div>


<div class=index0>
<h2>投稿一覧</h2>
<div id="sec">
  <ul>
  <% @posts.each do |post| %>
    <li>
      <span class="fa fa-code"></span>
      <div class="title01">
       <%= post.title %>
      </div>
      <br>
      <%= post.content %>
    </li>
   <% end %> 
  </ul>
</div>
<%= link_to("もっと見る","/posts/index", class: "button1") %>
</div>
