<h2>新規投稿</h2>
<%= form_with url: "/posts/create"  do |form| %>
 <% @post.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<p>投稿者名</p>
<%= form.text_field :user %>
<br>
<p>ゼミ名</p>
<%= form.text_field :title %>
<br>
<p>なに系</p>
<%= form.select :type, [['M系','M系' ],['S系', 'S系'],['C系', 'C系']], {include_blank: "選択して下さい"} %>
<br>
<p>どんなゼミか</p> 
<textarea name="content"><%= @post.content %></textarea>
<br>
<input type="submit" value="投稿する！">
<% end %>