<div class="index0">
<div class="new">
<h2 class="title2">新規投稿</h2>
<%= form_with url: "/posts/create" do |form| %>
<% @post.errors.full_messages.each do |message| %>
<%= message %><br>
<% end %>

<div class="item">
<p class="text0">名前</p>
<textarea class="field" name="user" rows="1"><%= @post.user %></textarea>
<br>
<p class="text0">ゼミ名</p>
<textarea class="field" name="title" rows="1"><%= @post.title %></textarea>
<br>
<p class="text0">なに系？</p>
<%= form.select :type, [['M系','M系' ],['S系', 'S系'],['C系', 'C系']], {include_blank: "選択して下さい", selected: @post.type } %>
<br>
<p class="o">どんなゼミ？</p> 
<textarea name="content" class="textarea-primary"><%= @post.content %></textarea>
<br>
<input type="submit" value="投稿" class="submit">
<% end %>
</div>
</div>
</div>