<p>←投稿一覧</p>
投稿者名: <%= @post.user %>
<br>
なに系か: <%= @post.type %>
<br>
ゼミ名: <%= @post.title %>
<br>
ゼミの内容: <%= @post.content %>
<br>
投稿時間: <%= @post.created_at.to_s(:datetime_jp) %>
<br>
<%= link_to("編集","/posts/#{@post.id}/edit") %>

<%= link_to "削除", "/posts/#{@post.id}/destroy", method: :delete, data: {confirm: "削除しますか"}  %>
