<h2>投稿詳細</h2>
投稿者名: <%= @post.user %>
系統: <%= @post.type %>
ゼミ名: <%= @post.title %>
本文: <%= @post.content %>
<br>
投稿時間: <%= @post.created_at.to_s(:datetime_jp) %>
<br>
<%= link_to("編集","/posts/#{@post.id}/edit") %>

<%= link_to "削除", "/posts/#{@post.id}/destroy", method: :delete, data: {confirm: "削除しますか"}  %>
