<!DOCTYPE html>
<html>
  <head>
    <title>掲示板はしを</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>総情ゼミ投稿掲示板</h1>
  <h1>はしをくん</h1>

<%= link_to("HOME","/") %>
<%= link_to("投稿一覧","/posts/index") %>
<%= link_to("新規作成","/posts/new") %>

</header>

 <% if flash[:notice] %>
        <%= flash[:notice] %>
　<% end %>

    <%= yield %>
  </body>
</html>
