<!DOCTYPE html>
<html>

  <head>
    <title>掲示板はしを</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <div class="center">
  <header>
    

      <div class="container">
        <p class = "item top">総情ゼミ投稿掲示板<br>はしをくん</p>
        <nav>
          <ul>
              <li><%= link_to("HOME","/",class: 'a') %>
              <li><%= link_to("投稿一覧","/posts/index",class: 'a') %>
              <li><%= link_to("新規投稿","/posts/new",class: 'a') %>
          </ul>
        </nav>  
      </div>
  </header>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
