<!DOCTYPE html>
<html>

  <head>
    <title>掲示板はしを</title>
    <%= favicon_link_tag('/favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta charset="utf-8">
 
    <!-- BootstrapのCSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- bootstrapで利用するjs達 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </head>


  <body>
  <div class="center">
  <header>
    

      <div class="container">
        <p class = "item top">総情ゼミ投稿掲示板<br>はしをくん</p>
        <nav>

     
          <% if @current_user %>
          

          <li><%= link_to(@current_user.name, "/users/#{@current_user.id}",class: 'a') %>
          <li><%= link_to("投稿一覧","/posts/index",class: 'a') %>
          <li><%= link_to("新規投稿","/posts/new",class: 'a') %>
          <li><%= link_to("ユーザー一覧","/users/index",class: 'a') %>
          <li><%= link_to 'ログアウト', '/logout', class: 'a', method: :post, data: {confirm: "ログアウトしちゃう？"} %>
        <% else %>
          <li><%= link_to("HOME","/",class: 'a') %>
          <li><%= link_to("新規登録","/signup",class: 'a') %>
          <li><%= link_to("ログイン","/login",class: 'a') %>
        <% end %>
          <ul>
          </ul>
        </nav>  
      </div>
  </header>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
    </div>
    <div class="wave">
    <canvas id="waveCanvas"></canvas>
    

</div>  
<%= javascript_pack_tag 'index' %>
  </body>
</html>
